@inherits LayoutComponentBase

<nav class="d-flex flex-column bg-dark p-3 shadow-sm" style="width: 220px;">
    <h4 class="mb-4 text-white">My Portfolio</h4>
    <ul class="nav nav-pills flex-column gap-2 text-white">
        <li class="nav-item">
            <NavLink href="/home" class="nav-link text-white" activeClass="active">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/about" class="nav-link text-white" activeClass="active">About</NavLink>
        </li>
        <li class="nav-item">
            <NavLink href="/projects" class="nav-link text-white" activeClass="active">Projects</NavLink>
        </li>
    </ul>
</nav>
